
  .nav li a{padding: 25px 20px;}
  .navbar-form{padding-top: 10px; }
  .navbar{
      margin-bottom: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
  }

  .navbar-custom .navbar-toggle .icon-bar{
    background-color: black;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.center-block{

  margin top: 10px auto;
}

  #sisu1{
  	background:url('img/aurora-borealis-1066594_1280.jpg') 50% 0 no-repeat fixed;
    background-color: #336633 ;
    background-blend-mode: multiply;
  	color: #fff;
  	height: 600px;
  	margin: 0;
  	padding: 600px 0 260px 0;
  	background-size: cover;
  }

  #sisu2{
	background-color: #fff;
	color: #333333;
	height: 300px;
  margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
  margin-bottom:150px;
}

  #sisu3{
  	background: url('img/prague-1168302_1920.jpg') 50% 0 no-repeat fixed;
    background-color: #680000 ;
    background-blend-mode: multiply;
  	color: #fff;
  	height: 600px;
  	padding: 170px 0 0 0;
  	background-size: cover;
  }

  #sisu4{
  background-color: #fff;
  color: #333333;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 200px 0;
  margin-bottom:150px;
}

  #sisu5{
    background: url('img/glacier-530050_1920.jpg') 50% 0 no-repeat fixed;
    background-color: #6699FF ;
    background-blend-mode: multiply;
    color: #fff;
    height: 600px;
    padding: 170px 0 0 0;
    background-size: cover;
}


  .col-centered{
    float: none;
    margin: 0 auto;
}
