body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #e7f5ff;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  overflow: auto;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  float: none;
  clear: none;
  background-color: #575757;
}

.nav_link {
  height: 75px;
  margin: auto;
  -webkit-perspective: 1036px;
  perspective: 1036px;
  font-family: Lato, sans-serif;
  color: #dfdfdf;
  line-height: 220%;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.banner {
  display: block;
  width: auto;
  height: 600px;
  margin-top: 75px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0095cf;
}

.content {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: #e7f5ff;
}

.nav {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
}

.banner_c {
  height: 100%;
}

.banner_h {
  height: 600px;
}

.banner_p {
  height: 600px;
}

.banner_h_lorem {
  margin-top: 60px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 47px;
  font-weight: 500;
  text-transform: uppercase;
}

.banner_h_dolor {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 47px;
  line-height: 44px;
  font-weight: 500;
}

.thematic {
  height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #dbdbdb;
}

.banner_h_duis {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #e6e6e6;
  font-size: 47px;
  line-height: 44px;
  text-transform: uppercase;
}

.banner_p_text {
  margin-top: 60px;
  font-family: Lato, sans-serif;
  color: #e6e6e6;
  font-size: 26px;
  line-height: 33px;
  text-align: justify;
}

.about {
  height: 100%;
}

.about_c {
  height: 99%;
}

.bootstrap {
  height: 400px;
  margin-top: 50px;
  background-color: #0095cf;
}

.css {
  height: 400px;
  margin-top: 50px;
  border-right: 3px solid #e7f5ff;
  border-left: 3px solid #e7f5ff;
  background-color: #0095cf;
}

.html {
  height: 400px;
  margin-top: 50px;
  background-color: #0095cf;
}

.bootstrap_h {
  margin-top: 10px;
  font-family: Lato, sans-serif;
  color: #000;
  text-align: center;
}

.css_h {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.html_h {
  margin-top: 10px;
  color: #000;
  text-align: center;
}

.bootstrap_c {
  height: 380px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #0095cf;
}

.css_c {
  height: 380px;
  margin-top: 5px;
  background-color: #0095cf;
}

.html_c {
  height: 380px;
  margin-top: 10px;
  background-color: #0095cf;
}

.bootstrap_p {
  font-size: 25px;
  line-height: 23px;
  text-align: left;
  letter-spacing: -1px;
}

.css_p {
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -1px;
}

.html_p {
  font-size: 25px;
  line-height: 23px;
  text-align: right;
  letter-spacing: -1px;
}
